.about{
  background-color: #222;
  color: white;
  display: flex;
  flex-direction: row;
   align-items: center;
   justify-content: center;
}

.imagen{
  min-width: 500px;
}

@media only screen and (max-width: 800px) {
 .about{
   flex-direction: column;
 }
}